<!-- Toolbar -->

<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Mediante la utlizacion de la herramienta JISON, se genero un scanner y un parser capaz de detectar errores sintacticos y lexicos en un archivo de entrada, al corregir dichos errores, se puede determinar si una clase es copia de otra mediante la evaluaciond de diferentes parametros</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Reportes</h4>
          <ul class="list-unstyled">
            <li><a href="/reports"  class="text-white">Errores Lexicos</a></li>
            <li><a href="/reports" class="text-white">Errores Sintacticos</a></li>
            <li><a [routerLink]="['/reports']" class="text-white">Arbol de analisis sintactico</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a [routerLink]="['/dashboard']" class="navbar-brand d-flex align-items-center">
        <strong>Proyecto 1</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>


  
<router-outlet></router-outlet>
  
  